<h1>Edit Employee</h1>

<%= render "layouts/employee_form" %>

<p><%= link_to "Return to employee", division_employee_path(@division, @employee) %></p>

<p><%= link_to "Return to division", division_path(@division) %></p>