<h1>Divisions</h1>

<% if @divisions.any? %>
  <ul>
    <% @divisions.each do |division| %>
      <li><%= link_to division.name, division_path(division) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no divisions yet.</p>
<% end %>

Today's new employees!
<ul>
<% @employees.today.each do |employee| %>
<li><% employee.name %> </li>
<% end %>
<ul>

<h3>Managers: <%=@employees.manager.name%></h3>


<p><%= link_to "Create new division", new_division_path %></p>
<p><%= link_to "Create new project", new_project_path %></p>  